<div class="sup-transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="sup_heading text-center sup_bottompadder30">
                    <h4>WE HAVE WORKED WITH</h4>
                    <div class="sup_title_border"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="carousel slide media-carousel" id="media">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_ssc.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo-embla.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_a41.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_ap.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_consortio.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_dh.jpg" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_fresh.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_great.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_mobifone.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_prime.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_sem.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://ssc.gov.vn/ssc/faces/en/enmenu/enpages_home;jsessionid=nqDnpCyZhgQg8P6m3S62TGDCYtpQTfnPzL91tQnvyNRpGdsmYXvt!-1967982055!NONE?_afrLoop=26001824080239874&amp;_afrWindowMode=0&amp;_afrWindowId=null" target="_blank" class="sup_client">
                                                <img src="/images/partner/logo_way2go.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                            <a data-slide="next" href="#media" class="right carousel-control">›</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>