<div class="sup_get_started_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="sup_get_started_data">
                    <h2>Ready To Get Started?</h2>
                    <p>Please feel free to contact us for further information.<br><br></p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-xs-12 col-sm-12 pull-right">
                <div class="sup_mobile_img">
                    <img src="images/contact.png" class="img-responsive wow fromleft" alt="" style="visibility: visible; animation-name: fromleft;">
                    <a href="contact.html">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>