<div class="sup_transparent sup_toppadder100 sup_bottompadder100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="sup_heading text-center sup_bottompadder30">
                    <h4>Recruitment</h4>
                    <div class="sup_title_border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sup_bottompadder60">
                <img src="images/recruitment/php.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 sup_bottompadder60">
                <h5 class="recruitment__title">[ HOT JOB ] GROOO INTERNATIONAL TIẾP TỤC TUYỂN THỰC TẬP PHP.</h5>
                <div class="recruitment__content">
                    <p><img src="images/recruitment/g-icon.svg" class="g-icon" alt=""> Đối tượng:</p>
                    ▪️Sinh viên năm 3, sinh viên năm cuối muốn làm báo cáo thực tập.<br> ▪️ Là sinh viên các trường đại học, cao đẳng khoa cntt.<br><br>
                    <p><img src="images/recruitment/g-icon.svg" class="g-icon" alt=""> Cơ hội:</p>
                    - Được đào tạo những kĩ năng cần thiết, chuyên môn dưới sự hướng dẫn của các chuyên gia tại Grooo<br> - Được tham gia vào các dự án thực tế của công ty<br> - Có cơ hội trở thành nhân viên chính thức sau khóa thực tập.<br>
                </div>
                <a href="recruitment-TTS_php.html" class="sup_btn sup_black_btn fromright wow" style="visibility: visible; animation-name: fromright;">Learn More <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </div>
        </div>
    </div>
</div>